/**
 * Print Stylesheet
 *
 * @package Flavor_Starter
 * @since 1.0.0
 */

/* Placeholder - Print styles will be added in Phase 2 */
@media print {
    body {
        background: white;
        color: black;
    }
}
